In [1]:
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import urlopen, Request
import requests

In [2]:
res = requests.get('https://hashtagbasketball.com/nba-defense-vs-position')
soup = BeautifulSoup(res.text, 'lxml')
pg, sg, sf, pf, c = [], [], [], [], []
table = soup.find('table', attrs={'id':'ContentPlaceHolder1_GridView1'})
for tr in table.find_all('tr'):
    td_list = tr.find_all('td')
    if tr.find('td') is not None:
        text = " ".join([i for i in td_list[1].text.split() if not i.isdigit()])
        if td_list[0].text == 'PG':
            pg.append(text)
        elif td_list[0].text == 'SG':
            sg.append(text)
        elif td_list[0].text == 'SF':
            sf.append(text)
        elif td_list[0].text == 'PF':
            pf.append(text)
        elif td_list[0].text == 'C':
            c.append(text)

In [3]:
rank = list(range(1, 31))
columns = ['Team', 'vs PG', 'vs SG', 'vs SF', 'vs PF', 'vs C']
df_pg = pd.DataFrame({'Team':pg, 'vs PG':rank}).sort_values('Team')
df_sg = pd.DataFrame({'Team':sg, 'vs SG':rank}).sort_values('Team')
df_sf = pd.DataFrame({'Team':sf, 'vs SF':rank}).sort_values('Team')
df_pf = pd.DataFrame({'Team':pf, 'vs PF':rank}).sort_values('Team')
df_c = pd.DataFrame({'Team':c, 'vs C':rank}).sort_values('Team')
a = pd.merge(df_pg, df_sg, on='Team')
b = pd.merge(a, df_sf, on='Team')
c = pd.merge(b, df_pf, on='Team')
d = pd.merge(c, df_c, on='Team')

In [4]:
df = d.reindex(columns=columns)
df.to_csv('./../OutputCSVs/team_def_vs_position.csv', header=True, index=False)

In [5]:
df

             Team  vs PG  vs SG  vs SF  vs PF  vs C
0         Atlanta     28     29     25     28    28
1          Boston      9     15      3      1     9
2        Brooklyn     22     17     20      2    30
3       Charlotte      1     25     24     25    14
4         Chicago      5      1     16     20    27
5       Cleveland     27     30     30     27    29
6          Dallas     19     19     23     14    15
7          Denver     17     12     21      8     3
8         Detroit     12      2      4     30    26
9    Golden State     30     27     29     22     8
10        Houston     18     14     22     18     5
11        Indiana      4     11      1      5    24
12    LA Clippers      6      5      6      3    23
13      LA Lakers     10      7      9     11     2
14        Memphis     23     22     18     23    20
15          Miami      2     16      8     21    10
16      Milwaukee     15      9     12     13    21
17      Minnesota     21     28     15     19    11
18    New Orleans     24     21     26     16    19
19       New York     25      6     10     26     4
20  Oklahoma City     11     10      2      7    22
21        Orlando      7     20     11     15     7
22   Philadelphia      3      4      5     12    12
23        Phoenix     13     23     13     17    13
24       Portland     20     13     19     29    18
25     Sacramento     26     26     14      6     6
26    San Antonio     14     24     17     24    16
27        Toronto      8      3     28      4     1
28           Utah     16      8      7     10    25
29     Washington     29     18     27      9    17

In [6]:
import datetime
now = datetime.datetime.now()
print (now.strftime("%Y-%m-%d %H:%M:%S"))

2020-12-21 14:21:05