In [71]:
import pandas as pd
from IPython.display import Image, HTML

In [72]:
# first two rows from sample output CSV
data = [["James Harden","HOUSTON ROCKETS","2019-02-02","AWAY","UTAH JAZZ",2.5871080000000006,4.008100000000001,7.872057999999999,7.291646999999999,5.59696,0.9731,1.5892500000000003,0.9731],
["Kemba Walker","CHARLOTTE HORNETS","2019-02-02","HOME","CHICAGO BULLS",4.239632000000001,2.2854,2.346222,4.647891,4.25148,0.64966,0.9497699999999998,0.64966]]

cols = ["name","team","date","location","opponent","made_two_point_field_goals","made_three_point_field_goals","made_free_throws","rebounds","assists","blocks","steals","turnovers"]

In [73]:
df = pd.DataFrame(data, index=[1,2],columns=cols)
df

,name,team,date,location,opponent,made_two_point_field_goals,made_three_point_field_goals,made_free_throws,rebounds,assists,blocks,steals,turnovers
1,James Harden,HOUSTON ROCKETS,2019-02-02,AWAY,UTAH JAZZ,2.587108,4.0081,7.872058,7.291647,5.59696,0.97310,1.58925,0.97310
2,Kemba Walker,CHARLOTTE HORNETS,2019-02-02,HOME,CHICAGO BULLS,4.239632,2.2854,2.346222,4.647891,4.25148,0.64966,0.94977,0.64966

In [74]:
# convert link to html tags 
def path_to_image_html(path):
    return '<img src="'+ path + '" width="60" >'

images = ["https://d2cwpp38twqe55.cloudfront.net/req/202005142/images/players/hardeja01.jpg",
         "https://d2cwpp38twqe55.cloudfront.net/req/202005142/images/players/walkeke02.jpg"]
df["pic"] = images

pd.set_option('display.max_colwidth', -1)

In [75]:
#render dataframe as html
html = HTML(df.to_html(escape=False ,formatters=dict(pic=path_to_image_html)))
a = html.data
#write html to file
with open('result.html', 'w') as f:
    f.write(a)